@media (max-width: 991px) {
    .promo {
        background-position: 25%; 
        &__header {
            margin: 0 auto;
        }
        &__subheader {
            margin: 0 auto;
            margin-top: 25px;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 55px;
        }
        &__link {
            margin: 0 auto;
            margin-top: 15px;
        }
    }


    .header {
        &__logo {
            img {
                margin-left: 20px;
            }
        }
        &__contacts {
            margin-right: 30px;
        }
    }
    .button {
        margin: 0 auto;
        margin-top: 30px;
    }
    .advantages {
        &__icons {
            min-width: 576px;
            flex-direction: column;
        }
        &__descr {
            width: 300px;
        }
        &__icon {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .title {
        &_left {
            white-space: nowrap;
            width: 600px;
            margin-left: 100px;
            font-size: 27px;
        }
    }
    .consultation {
        &__descr {
            margin: 0 auto;
            width: 600px;
        }
        form {
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        img {
            margin-left: 20px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            margin-right: 23px;
        }
    }
    .promo {
        &__header {
            display: block;
            margin: 0 auto;
        }
        &__subheader {
            margin: 0 auto;
            margin-top: 20px;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 40px;
        }
        &__link {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .button {
        margin: 0 auto;
        margin-top: 30px;
    }
    .advantages {
        &__icons {
            min-width: 576px;
            flex-direction: column;
        }
        &__descr {
            width: 300px;
        }
        &__icon {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .title {
        &_left {
            margin-left: 60px;
            font-size: 21px;
        }
    }
    .consultation {
        &__descr {
            margin-left: 115px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__phone {
            font-size: 13px;
        }
        &__logo {
            width: 205px;
        }
    }
    .button {
        margin-top: 10px;
        &_call {
            font-size: 10px;
            align-items: center;
            width: 110px;
        }
    }
    .promo {
        &__header {
            margin-left: 30px;
        }
        &__subheader {
            margin-left: 30px;
        }
        &__icons {
            justify-content: center;
            width: 300px;
        }
    }
    .title {
        &_left {
            margin-left: 32px;
            font-size: 17px;
            width: 300px;
        }
    }
    .consultation {
        &__descr {
            margin-left: 60px;
            font-size: 16px;
        }
    }
}