@media (max-width: 991px) {
    .promo {
        background-position: 25%; 
        &__header {
            margin: 0 auto;
        }
        &__subheader {
            margin: 0 auto;
            margin-top: 25px;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 55px;
        }
        &__link {
            margin: 0 auto;
            margin-top: 15px;
        }
    }


    .header {
        &__logo {
            img {
                margin-left: 20px;
            }
        }
        &__contacts {
            margin-right: 30px;
        }
    }
    .button {
        margin: 0 auto;
        margin-top: 30px;
    }
    .advantages {
        &__icons {
            min-width: 576px;
            flex-direction: column;
        }
        &__descr {
            width: 300px;
        }
        &__icon {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .title {
        &_left {
            white-space: nowrap;
            width: 600px;
            margin-left: 100px;
            font-size: 27px;
        }
    }
    .consultation {
        &__descr {
            margin: 0 auto;
            width: 600px;
        }
        form {
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        img {
            margin-left: 20px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            margin-right: 23px;
        }
    }
    .promo {
        &__header {
            display: block;
            margin: 0 auto;
        }
        &__subheader {
            margin: 0 auto;
            margin-top: 20px;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 40px;
        }
        &__link {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .button {
        margin: 0 auto;
        margin-top: 30px;
    }
    .advantages {
        &__icons {
            min-width: 576px;
            flex-direction: column;
        }
        &__descr {
            width: 300px;
        }
        &__icon {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .title {
        &_left {
            margin-left: 60px;
            font-size: 21px;
        }
    }
    .consultation {
        &__descr {
            margin-left: 115px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__phone {
            font-size: 13px;
        }
        &__logo {
            width: 205px;
        }
    }
    .button {
        margin-top: 10px;
        &_call {
            font-size: 10px;
            align-items: center;
            width: 110px;
        }
        &_submit {
            margin-left: 27px;
            width: 230px;
        }
    }
    .promo {
        &__header {
            margin-left: 30px;
        }
        &__subheader {
            margin-left: 30px;
        }
        &__icons {
            justify-content: center;
            width: 300px;
        }
    }
    .title {
        &_left {
            margin-left: 20px;
            font-size: 17px;
            width: 300px;
        }
    }
    .consultation {
        overflow: hidden;
        &__descr {
            text-align: center;
            width: 320px;
            margin-left: 40px;
            font-size: 16px;
        }
    }
    .catalog {
        overflow: hidden;
        &-item {
            margin: 0 auto;
            margin-bottom: 10px;
        }
        &__tabs {
            margin-top: 20px;
            width: 375px;
            margin-left: 10px;
        }
        &__tab {
            font-size: 13px;
        }
    }
    .carousel {
        overflow: hidden;
        &__inner {
            max-width: 100%;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .reviews {
        img {
            width: 50px;
            height: 50px;
            margin-left: 10px;
        }
        &__alltext {
            margin-left: 17px;
        }
    }
    .overlay {
        width: 574px;
    }
    .footer {
        &__info {
            width: 350px;
        }
        &__phone {
            margin-bottom: 20px;
        }
        &__social-item {
            height: 40px;
        }
    }
    .slick-dots {
        overflow: hidden;
    }
    .advantages {
        overflow: hidden;
        &__icons {
            min-width: 376px;
        }
    }
    .modal {
        width: 360px;
        left: 34%;
        input {
            width: 285px;
        }
        &__close {
            right: 5px;
            top: 5px;
        }
        &__descr {
            font-size: 17px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
}