.advantages {
    min-height: 473px;
    padding: 70px 0 65px 0;
    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        span {
            text-align: center;
        } 
}
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 749px;
        min-height: 70px;
    }
    &__icon {
        margin-right: 68px;
        text-align: center;
        align-items: center;
        margin-top: 35px;
        min-width: 261px;
        font-weight: 700;
        font-size: 18px;
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        a {
            font-weight: 300;
            font-size: 14px;
            color: #FF0000;
        }
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
    }
    &__descr {
            margin-right: 24px;
            min-width: 269px;
            min-height: 102px;
            margin-top: 26px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
    }
}